{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

{% include "_includes/errors_form.html" %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Produto Distribuidor</h3>
    </div>

    <form method="post">
    {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{ form.company.label_tag }}
                </div>
                <div class="col-sm-6 col-form-label">
                    {{ form.company }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{ form.code.label_tag }}
                </div>
                <div class="col-sm-4">
                    {{ form.code }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{ form.description.label_tag }}
                </div>
                <div class="col-sm-6">
                    {{ form.description }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{ form.status.label_tag }}
                </div>
                <div class="col-sm-4">
                    {{ form.status }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{ form.onix.label_tag }}
                </div>
                <div class="col-sm-4">
                    {{ form.onix }}
                </div>
            </div>
            <br>
            <div class="row">
                <input class="mb-2 mr-2 btn btn-success btn-lg btn-block" id="myButton" type="submit" name="myButton"
                value="Salvar">
            </div>
        </div>
    </form>
</div>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
