{% extends 'base.html' %}
{% load static %}

{% block title %} Produtos Distribuidor{% endblock %}

{% block stylesheets %}
    {% include '_styles/_datatables.html' %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="container-fluid">
            <div class="row">
                <label for="id" class="card-title col-sm-2 col-form-label">Produtos Distribuidor</label>
            <div class="col-sm-2">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray">{{ products.first.company }}</p>
            </div>
                <div class="ml-auto">
                    <a href="{% url 'products:company_create' code_sap %}" type="button" class="btn btn-block btn-success btn-xs ml-auto"><i class="fas fa-plus-square"></i> Adicionar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="products" class="table table-bordered table-hover">
            <thead>
                <tr class='bg-primary'>
                    <th></th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Ativo</th>
                    <th>Id Onix</th>
                    <th>Produto Onix</th>
                    <th>Atualizado em</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td><a href="{% url 'products:company_edit' code_sap product.id %}"><i class="fas fa-edit text-orange"></i></a></td>
                    <td><a href="{% url 'products:company' code_sap product.id %}">{{ product.code }}</a></td>
                    <td><a href="{% url 'products:company' code_sap product.id %}">{{ product.description }}</a></td>
                    <td>
                        {% if product.status %}
                        Sim
                        {% else %}
                        Nao
                        {% endif%}
                    <td>{{ product.onix.id }}</td>
                    <td>{{ product.onix }}</td>
                    <td>{{ product.updated_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}

{% block extra_js %}
{% include '_scripts/_datatables.html' %}

<script>
    $(function () {
        $('#products').DataTable({
            "order": [[ 2, "asc" ]],
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock %}
