{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Painel Financeiro{% endblock %}

{% block stylesheets %}
    {% include '_styles/_datatables.html' %}
    {% include '_styles/_forms.html' %}
    {{ block.super }}
{% endblock %}

{% block content %}

{% include "_includes/errors_form.html" %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Painel Financeiro</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <!-- Left column -->
            <div class="col-md-4">

                <!-- Saldo Atual -->
                <div class="info-box">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-wallet"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Saldo Atual</span>
                        <span class="info-box-number">
                            <small>R$</small>
                            {{ balance|intcomma }}
                        </span>
                    </div>
                </div>

                <!-- A receber -->
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-file-invoice-dollar"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">A receber</span>
                        <span class="info-box-number">
                            <small>R$ </small>
                            {{ amount_not_received|intcomma }}
                        </span>
                    </div>
                </div>

                <!-- Faturado 12 meses -->
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-maroon elevation-1"><i class="far fa-calendar-check"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Faturado: <small>12 meses</small></span>
                        <span class="info-box-number">
                            <small>R$ </small>
                            {{ billings_12_months|intcomma }}
                        </span>
                    </div>
                </div>

                <!-- Faturado Acc Anual -->
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-orange elevation-1"><i class="far fa-calendar-alt"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Faturado: <small>este ano</small></span>
                        <span class="info-box-number">
                            <small>R$ </small>
                            {{ billings_annual|intcomma }}
                        </span>
                    </div>
                </div>

                <!-- Extrato -->
                <form action="{% url 'finance:statement_report' %}" method="GET">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Extrato</h3>
                        </div>
                        <div class="card-body">
                            <!-- Date -->
                            <div class="form-group">
                                <label>De:</label>
                                <div class="input-group date" id="statementreportstart" data-target-input="nearest">
                                    <input name="start" type="text" class="form-control datetimepicker-input" data-target="#statementreportstart" data-inputmask-alias="datetime" data-inputmask-inputformat="dd-mm-yyyy" data-mask value="{{ statementreportstart }}" />
                                    <div class="input-group-append" data-target="#statementreportstart" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Até:</label>
                                <div class="input-group date" id="statementreportend" data-target-input="nearest">
                                    <input name="end" type="text" class="form-control datetimepicker-input" data-target="#statementreportend"  data-inputmask-alias="datetime" data-inputmask-inputformat="dd-mm-yyyy" data-mask value="{{ statementreportend }}"/>
                                    <div class="input-group-append" data-target="#statementreportend" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary float-right">Solicitar</button>
                        </div>
                    </div>
                </form>

            </div>

            <!-- Right Column -->
            <div class="col-md-8">

                <!-- BILLS NOT PAID -->
                {% if not bills_not_paid %}
                <div class="card card-danger collapsed-card">
                {% else %}
                <div class="card card-danger ">
                {% endif %}
                    <div class="card-header">
                        <h3 class="card-title">Contas a Pagar</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 50px;"></th>
                                    <th style="width: 50px;"></th>
                                    <th>Vencimento</th>
                                    <th>Categoria</th>
                                    <th class="text-right">Valor</th>
                                    <th class="text-right" style="width: 80px">Boleto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bill in bills_not_paid %}
                                <tr>
                                    <td style="padding-left: 0.3rem;">
                                        <a href="{% url 'finance:bill_pay' bill.id %}">
                                            <button class="btn btn-primary" style="padding: 0px 8px;">Pagar</button>
                                        </a>
                                    </td>
                                    <td style="padding-left: 0.0rem;">
                                        <a href="{% url 'finance:bill_edit' bill.id %}">
                                            <button class="btn btn-warning" style="padding: 0px 8px;">Editar</button>
                                        </a>
                                    </td>
                                    <td>{{ bill.due_date|date:"d/m/Y" }}</td>
                                    <td>{{ bill.category }}</td>
                                    <td class="text-right">{{ bill.amount|intcomma }}</td>
                                    {% if bill.bill %}
                                    <td class="text-center">
                                        <a href="{{ bill.bill.url }}" target="_blank">
                                            <i class="nav-icon fas fa-file-download text-primary"></i>
                                        </a>
                                    </td>
                                    {% else %}
                                        <td class="text-center">-</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- RECEIVABLE NOT RECEIVED -->
                {% if not receivables_not_received %}
                <div class="card card-info collapsed-card">
                {% else %}
                <div class="card card-info ">
                {% endif %}
                    <div class="card-header">
                        <h3 class="card-title">A receber</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 50px;"></th>
                                    <th>Data Emissão</th>
                                    <th>Recebível</th>
                                    <th class="text-right">Centro Custo</th>
                                    <th class="text-right">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for receivable in receivables_not_received %}
                                <tr>
                                    <td style="padding-left: 0.5rem;">
                                        <a href="{% url 'finance:receivable_receive' receivable.number %}">
                                            <button class="btn-sm btn-primary" style="padding: 1px 4px;">Receber</button>
                                        </a>
                                    </td>
                                    <td>{{ receivable.issued_at|date:"d/m/Y" }}</td>
                                    <td>{{ receivable.get_category_display }} - {{ receivable.get_number_display }}</td>
                                    <td class="text-right">{{ receivable.cost_center }}</td>
                                    <td class="text-right">{{ receivable.get_amount_display }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- Cost Center Active -->
                {% if not cost_centers_active %}
                <div class="card card-purple collapsed-card">
                {% else %}
                <div class="card card-purple ">
                {% endif %}
                    <div class="card-header">
                        <h3 class="card-title">Centros de Custo Ativos</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Nº</th>
                                    <th>Descrição</th>
                                    <th class="text-right">Faturado</th>
                                    <th class="text-right">Recebido</th>
                                    <th class="text-right">A Receber</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cost_center in cost_centers_active %}
                                <tr>
                                    <td>{{ cost_center.id }}</td>
                                    <td>{{ cost_center.description }}</td>
                                    <td class="text-right">{{ cost_center.get_billings_amount|intcomma }}</td>
                                    <td class="text-right">{{ cost_center.get_billings_received|intcomma }}</td>
                                    <td class="text-right">{{ cost_center.get_billings_not_received|intcomma }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- BAR CHART -->
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Centro de Custos</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="barChart"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>


                </div>
            </div>
            <!--/. End of first row -->

    </div>
    <!--/. container-fluid -->
</section>
<!-- /.content -->



{% endblock %}

{% block extra_js %}
{% include '_scripts/_datatables.html' %}
{% include '_scripts/_chart.html' %}

<script>
    $(function () {

        //Extrato - De
        $('#statementreportstart').datetimepicker({
            format: 'DD-MM-YYYY'
        });

        //Extrato - Ate
        $('#statementreportend').datetimepicker({
            format: 'DD-MM-YYYY'
        });

        //Datemask dd/mm/yyyy

        //Money Euro
    $('[data-mask]').inputmask()

    })

    $(function () {
        var barChartCanvas = $('#barChart').get(0).getContext('2d')

        var barChartData = {
            labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            datasets: [
                {
                    label: 'Outros',
                    backgroundColor: 'rgba(210, 214, 222, 1)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    label: 'Administrativo',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: [28, 48, 40, 19, 86, 27, 90, 100]
                },
            ]
        }

        var barChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false,
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                    }
                }]
            }
        }

        // This will get the first returned node in the jQuery collection.
        var barChart = new Chart(barChartCanvas, {
            type: 'line',
            data: barChartData,
            options: barChartOptions
        })

        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $('#barChart').get(0).getContext('2d')
        var barChartData = jQuery.extend(true, {}, barChartData)
        var temp0 = barChartData.datasets[0]
        var temp1 = barChartData.datasets[1]
        barChartData.datasets[0] = temp1
        barChartData.datasets[1] = temp0

        var barChartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            datasetFill: false
        }

        var barChart = new Chart(barChartCanvas, {
            type: 'bar',
            data: barChartData,
            options: barChartOptions
        })
    })

</script>
{% endblock %}
