addons:
  ssh_known_hosts: ec2-18-231-184-114.sa-east-1.compute.amazonaws.com

branches:
  only:
    - develop
    - main

stages:
  - Test
  - Build_test
  - name: Migrate
    if: branch = main

jobs:
  include:
  # - stage: Test
  #   name: "Running full test suit"
  #   before_install:
  #     - docker build -f dockerfile.dev -t russianbb/genesis-test .
  #   script:
  #   - docker run -e CI=true russianbb/genesis-test py.test -s ../../tests

  - stage: Build_test
    name: "Building and pushing docker images to be deployed"
    # ESSA PARTE JÃ FUNCIONA!
    # before_script:
    # - echo "--> Starting Building Process"
    # - docker --version
    # - pip install --user awscli
    # - export PATH=$PATH:$HOME/.local/bin
    # - eval $(aws ecr get-login --no-include-email --region sa-east-1)
    # - docker build -f deploy/dockerfile -t $APP_NAME:$TRAVIS_BUILD_ID .
    # - docker tag $APP_NAME:$TRAVIS_BUILD_ID $AWS_ECR_ACCOUNT.dkr.ecr.sa-east-1.amazonaws.com/$APP_NAME:$TRAVIS_BUILD_ID
    # - docker push $AWS_ECR_ACCOUNT.dkr.ecr.sa-east-1.amazonaws.com/$APP_NAME:$TRAVIS_BUILD_ID
    # - docker tag $APP_NAME:$TRAVIS_BUILD_ID $AWS_ECR_ACCOUNT.dkr.ecr.sa-east-1.amazonaws.com/$APP_NAME:latest
    # - docker push $AWS_ECR_ACCOUNT.dkr.ecr.sa-east-1.amazonaws.com/$APP_NAME:latest

    script:
    - openssl aes-256-cbc -K $encrypted_db2095f63ba3_key -iv $encrypted_db2095f63ba3_iv -in deploy_rsa.enc -out /tmp/deploy_rsa -d
    - eval "(ssh-agent -s)"
    - chmod 600 /tmp/deploy_rsa
    - ssh-add /tmp/deploy_rsa
    - echo "--> AGORA VAI!!!"
    - ssh -o "StrictHostKeyChecking=no" $EC2_USER@$EC2_DNS 'touch fuckin_go.txt'

  # - stage: Migrate
  #   name: "Running django migrations"
  #   scripts:
  #   - echo "Eventually runing the migrations"
