{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Recebíveis{% endblock %}

{% block stylesheets %}
    {% include '_styles/_datatables.html' %}
    {{ block.super }}
{% endblock %}

{% block content %}

<a href="{% url 'finance:receivable' %}">
    <input class="mb-2 mr-2 btn btn-success btn-lg btn-block" value="Adicionar Recebível">
</a>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Recebíveis</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="statement_report" class="table table-bordered table-hover">
            <thead>
                <tr class='bg-primary'>
                    <th>Número</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                    <th>Emissão</th>
                    <th colspan=2>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for receivable in receivables %}
                <tr>
                    <td>{{ receivable.number }}</td>
                    <td>{{ receivable.get_category_display }}</td>
                    <td>{{ receivable.amount|intcomma }}</td>
                    <td>{{ receivable.issued_at|date:"d/m/Y" }}</td>
                    {% if receivable.is_received or not receivable.cost_center.status %}
                        <td></td>
                    {% else %}
                        <td><a href="{% url 'finance:receivable_receive' receivable.number %}"><i class="nav-icon fas fa-donate text-green"></i> Receber</a></td>
                    {% endif %}

                    {% if receivable.cost_center.status %}
                        <td><a href="{% url 'finance:dividend_pay' receivable.number %}"><i class="nav-icon fas fa-hand-holding-usd text-orange"></i> Dividendo</a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}

{% block extra_js %}
{% include '_scripts/_datatables.html' %}

<script>
    $(function () {
        $('#statement_report').DataTable({
            "order": [[ 1, "asc" ]],
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock %}
