{% extends 'base.html' %}
{% load static %}

{% block title %} Detalhes do Responsável {% endblock %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <h3 class="card-title">Responsável</h3>
                </div>
                <div class="ml-auto">
                    <a href="{% url 'comercial:focal_edit' focal.id %}" type="button" class="btn btn-block btn-warning btn-xs ml-auto"><i class="fas fa-edit"></i> Editar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="company_name">
                    {{ focal.name }}
                </p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Cargo</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="id">
                    {% if focal.role %} {{ focal.role }} {% else %} {{ "-" }} {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Telefone Principal</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="code">
                    {% if focal.phone1 %} {{ focal.get_phone1 }} {% else %} {{ "-" }} {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Telefone Secundário</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="nickname">
                    {% if focal.phone2 %} {{ focal.get_phone2 }} {% else %} {{ "-" }} {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="document">
                    {% if focal.email %} {{ focal.email }} {% else %} {{ "-" }} {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Anotações</label>
            <div class="col-sm-1">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="document">
                    {% if focal.notes %} {{ focal.notes }} {% else %} {{ "-" }} {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Ativo</label>
            <div class="col-sm-1">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="document">
                    {% if focal.status %}
                        Sim
                    {% else %}
                        Nao
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
