{% extends 'base.html' %}
{% load i18n static %}

{% block body_class %}login-page{% endblock %}

{% block body %}
    <div class="login-box">
        {% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}{% endblock %}">{% block logo_text %}<b>Genesis</b>{% endblock %}</a>
            {% endblock logo %}
        </div>
        <!-- /.login-logo -->
        <p class="login-box-msg" >Você está desconectado</p>
        <p class="login-box-msg" ><a href="{% url 'login'%}">Clique aqui para fazer Login</a></p>

    </div>
{% endblock %}
