{% extends 'base.html' %}
{% load static %}

{% block title %} Produto Onix{% endblock %}

{% block stylesheets %}
{{ block.super}}
{% endblock %}

{% block content %}
<div class="card card-primary">
    <!-- Produto Onix -->
    <div class="card-header">
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
        <h3 class="card-title">Produto Onix</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap">{{ product.id }}</p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Descrição Completa</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap">{{ product.description }}</p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Nome do Produto</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap">{{ product.prefix }}</p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Embalagem</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap">{{ product.unit_size }}</p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Unidade de Medida</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap">{{ product.unit_mesure }}</p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Volume</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap">{{ product.unit_volume }}</p>
            </div>
        </div>
        <div class="row">
            <label for="id" class="col-sm-2 col-form-label">Ativo</label>
            <div class="col-sm-4">
                <p class="form-control-plaintext border-bottom border-top-0 border-gray" id="code_sap">
                    {% if store.status %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <br>
    <!-- Produtos Syngenta -->
    <div class="card-header">
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
        <h3 class="card-title">Produtos Syngenta</h3>
    </div>
    <div class="card-body p-0">
        <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-one-stores" role="tabpanel"
                aria-labelledby="custom-tabs-one-stores-tab">
                <div class="card-body p-0 m-0">
                    <table id="stores" class="table table-sm margin-0">
                        <thead>
                            <tr>
                                <th>Agicode</th>
                                <th>Descrição</th>
                                <th>Família</th>
                                <th>Id Onix</th>
                                <th>Produto Onix</th>
                                <th>Atualizado em</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for syngenta_ in syngenta %}
                            <tr>
                                <td><a href="{% url 'products:syngenta' syngenta_.agicode %}">{{ syngenta_.agicode }}</a></td>
                                <td><a href="{% url 'products:syngenta' syngenta_.agicode %}">{{ syngenta_.description }}</a></td>
                                <td><a href="{% url 'products:syngenta' syngenta_.agicode %}">{{ syngenta_.family }}</a></td>
                                <td>{{ syngenta_.onix.id }}</td>
                                <td>{{ syngenta_.onix }}</td>
                                <td>{{ syngenta_.updated_at }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
