{% extends 'base.html' %}
{% load static %}

{% block title %} Producots Onix{% endblock %}

{% block stylesheets %}
    {% include '_styles/_datatables.html' %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Produtos Syngenta</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="products" class="table table-bordered table-hover">
            <thead>
                <tr class='bg-primary'>
                    <th>Agicode</th>
                    <th>Descrição</th>
                    <th>Familia</th>
                    <th>Status</th>
                    <th>Id Onix</th>
                    <th>Produto Onix</th>
                    <th>Atualizado em</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td><a href="{% url 'products:syngenta' product.agicode %}">{{ product.agicode }}</a></td>
                    <td><a href="{% url 'products:syngenta' product.agicode %}">{{ product.description }}</a></td>
                    <td><a href="{% url 'products:syngenta' product.agicode %}">{{ product.family }}</a></td>
                    <td>{{ product.get_status }}</td>
                    <td>{{ product.onix.id }}</td>
                    <td>{{ product.onix }}</td>
                    <td>{{ product.updated_at|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}

{% block extra_js %}

<script>
    $(function () {
        $('#products').DataTable({
            "order": [],
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock %}
