{% extends 'base.html' %}
{% load static %}

{% block title %} RTVs Syngenta{% endblock %}

{% block stylesheets %}
    {% include '_styles/_datatables.html' %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="container-fluid">
            <div class="row">
                <div><h3 class="card-title">RTVs Syngenta</h3></div>
                <div class="ml-auto">
                    <a href="{% url 'comercial:rtv_create' %}" type="button" class="btn btn-block btn-success btn-xs ml-auto"><i class="fas fa-plus-square"></i> Adicionar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="rtvs" class="table table-bordered table-hover">
            <thead>
                <tr class='bg-primary'>
                    <th></th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone Principal</th>
                    <th>Telefone Secundário</th>
                </tr>
            </thead>
            <tbody>
                {% for rtv in rtvs %}
                <tr>
                    <td><a href="{% url 'comercial:rtv_edit' rtv.id %}"><i class="fas fa-edit text-orange"></i></a></td>
                    <td><a href="{% url 'comercial:rtv' rtv.id %}">{{ rtv.name }}</a></td>
                    <td><a href="{% url 'comercial:rtv' rtv.id %}">{% if rtv.email %} {{ rtv.email }} {% endif %}</a></td>
                    <td><a href="{% url 'comercial:rtv' rtv.id %}">{% if rtv.get_phone1 %} {{ rtv.get_phone1 }} {% endif %}</a></td>
                    <td><a href="{% url 'comercial:rtv' rtv.id %}">{% if rtv.get_phone2 %} {{ rtv.get_phone2 }} {% endif %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}

{% block extra_js %}
{% include '_scripts/_datatables.html' %}

<script>
    $(function () {
        $('#rtvs').DataTable({
            "order": [[ 1, "asc" ]],
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock %}
