{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

{% include "_includes/errors_form.html" %}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Atribuir {{ label }}</h3>
    </div>

    <form method="post">
    {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{ form.company.label_tag }}
                </div>
                <div class="col-sm-6 col-form-label">
                    {{ form.company }}
                </div>
            </div>
            {% if form.focal %}
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{ form.focal.label_tag }}
                </div>
                <div class="col-sm-6">
                    {{ form.focal }}
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{ form.rtv.label_tag }}
                </div>
                <div class="col-sm-6">
                    {{ form.rtv }}
                </div>
            </div>
            {% endif %}
            <br>
            <div class="row">
                <input class="mb-2 mr-2 btn btn-success btn-lg btn-block" id="myButton" type="submit" name="myButton"
                value="Salvar">
            </div>
        </div>
    </form>
</div>
{% endblock %}
